

@media only screen and (min-width:480px){
        body{
          margin-left: 20px;
          margin-right: 20px;
        }
        .container{
          max-width: 800px;
        }
        .content-body{
          padding-top: 60px ;
        }
        .content-body-text{
          max-width: 650px;
          margin: 0 auto;
        }
      }



body{
    background-color: #FBFAF4;
    line-height: 20px;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
     font-family: "Proxima Nova", Helvetica, Arial, san-serif;
    padding: 0;

}


.greeting{
        padding: 0;
        margin: 40px auto;
      }

.content-body{
        background-color: #1E4EAA;
        padding: 40px 0px 0 0px;

        /* Safari 3-4, iOS 1-3.2, Android 1.6- */
        -webkit-border-radius: 5px;
        /* Firefox 1-3.6 */
        -moz-border-radius: 5px;
        /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
        border-radius: 5px;
      }


img {
  max-width: 100%;
}

.slideshow{
  max-width: 100%;
}

h1{
              font-weight: 400;
              font-size: 40px;
              line-height: 40px;
              margin-bottom: 40px;
              margin-top: 0;
              text-align: center;
              font-family: "Futura", Helvetica, Arial, sans-serif;
            }

            h5{
                          font-weight: 400;
                          font-size: 20px;
                          line-height: 20px;
                          margin-bottom: 20px;
                          margin-top: 0;
                          text-align: center;
                          font-family: "Futura", Helvetica, Arial, sans-serif;
                        }
            p{
              margin: 20px 3%;
              font-family: "Futura", Helvetica, Arial, sans-serif;
            }
